* {
    margin: 0;
    padding: 0;

}

body {
    background: linear-gradient(90deg, #14213d 0%, #fca311 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;

}


/*NAVIGEISHUN BAR*/
.header-box {
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, #14213d 0%, #e5e5e5 100%);
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;

}


.header-logo {
    width: fit-content;
    display: flex;
    margin-right: 100rem;
}

.navheader {
    width: fit-content;
    height: fit-content;
    margin-top: 1rem;
    position: fixed;
}

.navheader ul {
    list-style: none;
}

.navheader ul li {
    display: inline;
    float: left;
    padding: 21px;
    position: relative;
}

.navheader ul li a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: 800;
}

.navheader ul li a:hover {
    color: black;
    font-size: 30px;
    font-weight: 1000;
}

.navheader ul li a.active {
    color: black
}



/*FOOTER*/


footer {
    bottom: 0rem;
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(-69deg, #2d0464 0%, #000000 100%);

}

footer p1 {
    width: 100%;
    justify-content: center;
    color: white;
    display: flex;
    padding-bottom: 1rem;

}

.icons-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.socials ul {
    list-style-type: none;
    display: flex;
    column-gap: 3rem;
    padding-bottom: 2rem;
    padding-top: 2.5rem;

}

.socials ul a {
    cursor: pointer;
    font-size: 30px;
    padding: 0.5rem;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    background: rgb(5, 5, 5);
    border: solid 2px #FDB035;

}

.socials ul a:hover {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}


/*ASIDE MENU*/
.menu {
    height: 100%;
    width: 10rem;
    position: fixed;
    top: 0;
    right: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    padding-top: 11%;
    padding-left: 0rem;
    z-index: -2;


}


.menu li {
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;
    rotate: -0deg;
    
}

.menu li a {
   text-decoration: none;
    font-size: 20px;
    color: goldenrod;
}

.menu a:hover {
    color: wheat;
    font-weight: bolder;
}